/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set the background image */
p {
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: #41644A;
  color: #fff; /* set the font color to white for better contrast */
}
#landing{
	min-height: 100vh;
	background-color: none;
	background-image: url("./images/unnamed1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: scroll;
}


.container{
	background-color: rgba(0, 0, 0, 0);
	min-height: auto;
}

.Klaus {
padding-top: 27%;

}


footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem; !important;


}

.text-container {
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;

}

body {
	max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

